<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <span>
    <a href="/">Logo</a>
    <a href="/seller">Seller Home</a>
    <a href="/seller/categories">Category</a>
  </span>
  <div>
    <h1>List Category</h1>
    <a href="/seller/categories/add">Add New Category</a>
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th>Image</th>
    </tr>
    <% category.forEach(el => { %>
      <tr>
        <td><%= el.id %></td>
        <td><%= el.name %></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>