<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", { title: "Detail Product" }) %>
<body>
    <%- include("./partials/navbar") %>
    <div class="container p-3 ">
        <h4><%= products.name %></h4>
        
    </div>
</body>
</html>